@font-face {
  font-family: racing;
  src: url(assets/racing.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: racing;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(#00feef,#005254);
}

.memory-game {
  width: 1920px;
  height: 1080px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px
}

.memory-card {
  cursor: pointer;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face, .back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 15px;
  border: 2px solid black;
  background: #AB4545;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.button-style {
  background-color : #5A5A5A;
  color: white;
  padding: 12px 50px;
  border-radius: 10px;
  border-color: #878585;
  cursor: pointer;
}

.button-style2 {
  background-color : #5A5A5A;
  color: white;
  padding: 35px 150px;
  border-radius: 10px;
  border-color: #878585;
  cursor: pointer;
}

#mybutton {
  position: fixed;
  top: 0px;
  left: 0px;
}

#mybutton2 {
  position: fixed;
  top: 0px;
}

.overlay-text {
  display: none;  
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  color: #BF3131;
  font-family: racing;
}

.overlay-text-small{
  font-size: .3em;
}

.overlay-text.visible {
  cursor: default;
  display: flex;
  flex-direction: column;
  animation: overlay-grow 400ms forwards;
}

.overlay-victory {
  display: none;  
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  color: #970C0C;
  font-family: racing;
}

.overlay-victory.visible {
  cursor: default;
  display: flex;
  flex-direction: column;
  animation: overlay-grow2 400ms forwards;
}

.timer {
  position: fixed;
  cursor: default;
  display: inline-block;
  pointer-events: none;
  align-items: start;
  font-size: 5em;
  color:#65BB3D;
  border-radius: 10px;
  line-height: -5px;
  margin-top: -23px;
  right: 0;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0,0,0,0);
    font-size: 0em;
  }
  to {
    background-color: rgba(0,0,0,0.8);
    font-size: 6em;
  }
}

@keyframes overlay-grow2 {
  from {
    background-color: rgba(0,0,0,0);
    font-size: 0em;
  }
  to {
    background-color: rgba(53,149,51,0.95);
    font-size: 6em;
  }
}